/**
 * index.scss
 * - Add any styles you want here!
 */
 @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

 body {
  background: url(https://cdn.wallpapersafari.com/93/26/Stkyof.gif);
  color: rgb(250, 253, 247);
  font: italic small-caps bold 16px/2 cursive;
  background-repeat: no-repeat;


  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img{
  margin: 40px;
  border: 1px solid greenyellow;
  padding: 10px;
  height: 40vh;
  width: auto;
}

h1,h2{
  max-width: 800px;
  line-height: 1.5;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}

/** boutons **/
.btn {
	box-shadow: 6px 6px 0px 0px #6d4e0b;
	background:rgb(77, 32, 32);
	border:1px solid greenyellow;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: italic small-caps bold 16px/2 cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.btn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.btn:active {
	position:relative;
	top:1px;
}

/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}
